.intro p + p {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 24px;
  }
}

.faq {
  margin-top: 5rem;

  p {
    margin-top: 10px;
    opacity: 0.85;
  }
}

.faqItem {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}
