.header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 48px);
  max-width: 1024px;
  margin: 24px auto;
  gap: 16px;
  scroll-behavior: smooth;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 80px);
    margin: 30px auto;
    gap: 32px;
  }

  @media (min-width: 1280px) {
    margin: 48px auto;
  }
}

.logo {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.menu {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;

  @media (max-width: 480px) {
    margin-bottom: 1rem;
  }

  @media (min-width: 768px) {
    margin-right: auto;
    gap: 24px;
  }

  @media (min-width: 1280px) {
    gap: 32px;
  }
}

.menu-item {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;

  @media (min-width: 1280px) {
    font-size: 16px;
  }

  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}

.toggle-theme {
  margin-top: 24px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
