/* listChrono.module.scss */

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for the main container */
  gap: 50px; /* Space between items */
  width: 100%; /* Adjust width to make it narrower if needed */
  max-width: 1200px; /* Set a maximum width to avoid stretching too much on large screens */
  padding: 0;
  margin: 0 auto; /* Center the grid container */
  list-style: none; /* Remove default list styling from the parent list */

  @media (max-width: 480px) {
    gap: 25px;
  }
}

.list-item {
  padding: 0;
}

.sublist {
  display: grid;
  grid-template-columns: repeat(1fr); /* Two columns within each list item */
  gap: 30px; /* Space between items within the sublist */
  list-style: none; /* Remove default list styling from the sublist */
}

.sublist-item {
  list-style: none; /* Remove any list styling from individual items */
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr; /* Switch to a single column layout on medium screens */
    width: 100%; /* Full width on smaller screens */
  }
}

@media (max-width: 768px) {
  .sublist {
    grid-template-columns: 1fr; /* Switch to a single column layout in the sublist on smaller screens */
  }
}
